body {
    background-color: #000000;
    min-width: 1px;
    min-height: 1px;
}

.ym-dark-theme {
    --ym-background-color-primary-enabled-content: #121212;
    --ym-background-color-primary-enabled-basic: #000000;
    --ym-background-color-primary-enabled-player: #121212;
    --ym-controls-color-primary-default-hovered: #1ED760;
}

/*Для вас и Тренды*/
.MainPage_header__lPh0v {
    overflow: hidden;
    width: -webkit-fill-available;
    margin-left:-16px;
    height: 80px;
}

/*Это база, это знать надо*/
.DefaultLayout_content__md70Z {
    border-radius: 10px;
}

.DefaultLayout_root__7J0wo {
    position: fixed;
    top: 55px;
    margin-left: 100%;
    right: -177px;
    grid-template: 
    "navbar playerbar content"
    "navbar playerbar content" auto/auto 1fr;
    grid-template-columns: fit-content fit-content auto; 
}

.DefaultLayout_content__md70Z {
    border-radius: 10px 10px 10px 10px;
    grid-area: content;
    position: fixed;
    left: 27%;
    top: 62px;
    bottom: 90px;
    margin-right: 57px;
}

/*Кнопка BETA*/
.MainPage_beta__y32vb {
    background: #ff000000;
    position: fixed;
    margin-left: -34px;
    top: -27px;
}

.MainPage_beta__y32vb::after {
    content: url("https://images.squarespace-cdn.com/content/v1/6067cfe95c8d140d4fbcc96d/1618020246019-JKMOH8ZATRDD7HIB59DJ/SPOTIFY+LOGO+new+copy.png?format=100w");
}

/*Плеер*/
.PlayerBar_root__cXUnU {
    height: 90px;
    width: -webkit-fill-available;
    border-radius: 0px;
}

.PlayerBarDesktop_root__d2Hwi {
    border-radius: 0px 0px 0px 0px;
    grid-area: content;
    position: fixed;
    left: 5px;
    bottom: 0px;
    --player-cover-width: 60px;
    --player-cover-height: 60px;
    --player-average-color-background: hsl(0, 0%, 0%);
}

/*Кнопки плеера*/
.PlayerBar_root__cXUnU * .cpeagBA1_PblpJn8Xgtv:hover {
    background: #ff000000;
    scale: 1.1;
}

.PlayerBar_root__cXUnU * .cpeagBA1_PblpJn8Xgtv:disabled {
    background: #00000000;
    display: clip;
}

.SonataControlsDesktop_root__oluUH {
    scale: 0.9;
}

.PlayerBarDesktop_infoButtons__iSpa_ {
    scale: 0.9;
}

/*Замена ненужной надписи*/
.YMDRPC {
    visibility: hidden;
    position: relative;
}

.YMDRPC::after {
    width: 50px;
    visibility: visible;
    position: absolute;
    font-family: "Metropolis Semi Bold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    right: 43px;
    content: "Spotify";
    color: #1ED760;
}

.YMDRPC::before {
    width: 45px;
    visibility: visible;
    position: absolute;
    font-family: "Yandex Sans Display Bold", sans-serif;
    font-size: 14px;
    font-weight: 600;
    right: 0px;
    content: "Music!";
    color: #ffff00;
}

/*Скроллбар*/
::-webkit-scrollbar {
 width: 0;
}

/*Поиск*/
.SearchPage_header__BOkdn {
    top: -15px;
    left: 30%;
    width: 40%;
    position: fixed;
}

/*История поиска*/
.SearchPlaylistInput_root__o14iM {
    position: fixed;
    width: -webkit-fill-available;
    left: 0.5%;
    right: 73.5%;
    top: 80px;
}

/*Кнопки сверху на главной*/
.NewRelease_image__Vw6_k {
    opacity: 0;
    height: 80px;
}

.NewReleases_item__Gv0iR {
    overflow: hidden;
    position: static;
    height: 51px;
}

/*Кнопка Моя волна*/
[data-testid="MY_VIBE_PLAY_BUTTON_PLAYING"] {
    scale: 0.9;
}

[data-testid="MY_VIBE_PLAY_BUTTON_NOT_PLAYING"] {
    scale: 0.9;
}

.PlayButton_root__nYKdN {
    min-width: 160px;
}

/*Блок хеадер*/
.BlockHeader_start__ZrGP5 {
    margin-block-start: 1vw;
}

/*Трекблок*/
.TracksBlock_trackColumn__PmjA_ {
    position: flex;
    overflow: hidden;
}

/*Закрепы*/
.PinItem_root__WSoCn {
    border-radius: 3px 3px 3px 3px;
}

.NavbarDesktop_pinsList___jXIM {
    bottom: 3px;
}

.PinsList_content__9RG7s {
    position: fixed;
    height: -webkit-fill-available;
    top: 212px;
    bottom: 90px;
}

/*Вайб блок*/
.MainPage_vibe__XEBbh {
    left: 0px;
    right: 0px;
}

/*Длинные кнопки сверху вкладки "Тренды"*/
.NewRelease_card__yn06x {
    top: -15px;
    position: flex;
    border-radius: 3px 3px 3px 3px;
    bottom: 160%;
    width: 100%;
    height: 50px;
    background: #262626;
}

/*Картинка альбома длинных кнопок*/
.NewReleaseCard_image__7nTy8 {
    border-radius: 3px 0px 0px 3px;
    margin-left: -9px;
    top: 22.65%;
    height: 40px;
    width: 50px;
}

/*Кнопки фуллскрина*/
.SonataFullscreenControlsDesktop_root__l4a2W {
    position: absolute;
    bottom: 37px;
    opacity: 1;
}

/*Вайб блок*/
.VibeBlock_root__z7LtR {
    position: fixed;
    margin-top: 22%;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    width: 26%;
    margin-right: 74%;
    margin-left: 0.5%;
    height: -webkit-fill-available;
    margin-bottom: 14%;
    min-height: 0px;
}

/*Расположение блока*/
.MixedEntitiesBlock_root__Zs8l2 {
    width: 26%;
    position: fixed;
    top: 50px;
    left: 0px;
}

/*Стрелочки чартов*/
.TrackChart_chartCell__33_al {
    width: 5px;
}

/*Расположение блока*/
.TracksBlock_root__wVX7U {
    width: 26%;
    position: fixed;
    top: 90px;
    left: 0px;
}

/*Таймлайн фуллскрина*/
.FullscreenPlayerDesktop_timeline__4Z6DH {
    position: absolute;
    bottom: 115px;
}

.FullscreenPlayerDesktop_root___8vo1.FullscreenPlayerDesktop_important__dGfiL {
    --max-track-card-size: 87vw;
}

/*Вайб кнопка*/
.VibeButton_button__QyJ91 {
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    background: #ffffff15;
}

.Vibes_item__0EPx7 {
    height: 80px;
}

/*Нейрокнопка*/
.NeuromusicButton_button__kT4GN {
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    background: #ffffff15;
}

/*Кнопка лайка в фуллскрине*/
.FullscreenPlayerDesktop_likeButton__sv1hI {
    position: fixed;
    left: 60px;
    bottom: 40px;
    width: 65px;
    height: 63px;
    background: #23761900;
    opacity: 1;
}

/*Картинка Фуллскрина*/
.FullscreenPlayerDesktop_content__bl_7V {
    display: flex;
    justify-content: flex-start;
}

/*Управление картинкой фуллскрина*/
.FullscreenPoster_cover__WWgNX {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 150px;
    left: 25px;
    border-radius: 6px;
    min-height: 0;
}

/*Управление расположением картинки фуллскрина и кнопок*/
.FullscreenPlayerDesktop_cover__VVsjV {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
}

/*Мета фуллскрина*/
.FullscreenPlayerDesktop_trackInfo__Px1Ta {
    position: absolute;
    left: 100px;
    bottom: 140px;
    display: flex;
    justify-content: flex-start;
}

@media( min-width: 760px )
{
    .FullscreenPoster_cover__WWgNX {
        width: 150px;
        height: 150px;
    }
    .FullscreenPlayerDesktop_trackInfo__Px1Ta {
        transform: translate(95px, -0px);
    }
}

@media ( min-width: 1090px )
{
    .FullscreenPoster_cover__WWgNX {
        width: 150px;
        height: 150px;
    }
    .FullscreenPlayerDesktop_trackInfo__Px1Ta {
        transform: translate(95px, -0px);
    }
}

/*Нижняя мета фуллскрина*/
.FullscreenPlayerDesktop_trackMeta__NydsU {
    display: block;
    position: relative;
    padding: 0 !important;
    margin: 0;
}

/*Верхняя мета фуллскрина*/
.FullscreenPlayerDesktop_titleContainer__rVpIZ {
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}

/*Размер меты фуллскрина*/
.FullscreenPlayerDesktop_trackContainer__99XuP * .Meta_title__GGBnH {
    font-size: 42px !important;
    line-height: normal;
}

/*Мета артиста*/
.Meta_artists__VnR52 {
    text-align: justify;
}

/*Кнопка выхода из фуллскрина*/
.FullscreenPlayerDesktop_closeButton__MQ64s {
    opacity: 0.5;
}

/* ONLY background: color; */
.FullscreenPlayerDesktop_content__bl_7V,
.DefaultLayout_root_applicationPreserveTitleBar__ygJtq {
    background: #000000;
}

.PageHeaderArtist_playControl__N_3l_,
.PageHeaderPlaylist_playControl__yRQfm,
.PageHeaderAlbum_playControl__fFyS9 {
background: #1ED760;
}

section.PlayerBar_root__cXUnU,
.SonataFullscreenControlsDesktop_sonataButton__qmSTF,
.FullscreenPlayerDesktop_controls__57AQi,
.PlayerBar_root__cXUnU * .cpeagBA1_PblpJn8Xgtv {
    background: #1f1f1f00;
}

/* ONLY display: none; */
.NewReleaseCard_type__1LjSl,
.NewRelease_fade__rVE0_,
.NavbarDesktop_logo__Z4jGx,
.P6gOmyFtXyetUz0dqhF3,
.web_newreleases_album_31499697,
[data-testid="OPEN_PLAYLIST"],
.TrackChart_controlsBarCell__Xd5pn,
.Footer_root__ugyur,
.CollectionPage_description__A3dny,
.mdbxU6IWInQTsVjwnapn,
.VibeButton_image__TsHnH,
.Meta_explicitMark__ocnCV,
.VibeButton_subtitle__e_Di0,
.FullscreenPlayerDesktop_menuButton__0kKtl,
.BlockHeader_coverContainer__lATZT,
.InnerHeader_title__5aVLP,
.NavbarDesktop_user__dzbuH,
.BlockHeader_description__hAk9D,
.Pin_meta__MzX_7,
.TrackPlaylist_controlsBarCell__6clda,
.ZrkG6gNYcr4h3hfkhyT1,
.Tab_image__Hen3_,
.Tab_subtitle__fLp9S,
.NewRelease_artistCaption__1F8A9,
.bBh7lvgdfF7bqNqlK78Q,
.VibeAnimation_root_visible__S7kXl,
.NewRelease_fade__rVE0_,
.MixedEntitiesListItem_buttonArrow__Emsn1,
.ControlsBar_duration__RawSk,
.MixedEntitiesListItem_controlsBarCell__J78Qc {
    display: none;
}

/*Другое*/

._MWOVuZRvUQdXKTMcOPx {
    opacity: 1;
}

.SHvrm0VRiLVwGqJJjNO8 {
    height: 8px;
    padding: 1px;
    scale: 1;
}

.SHvrm0VRiLVwGqJJjNO8:hover {
    height: 8px;
    padding: 2px;
    scale: 1;
}

.SHvrm0VRiLVwGqJJjNO8:before {
    height: 4px;
}

.SonataControlsDesktop_sonataButtons__ux0qT {
    gap: 10px;
}

.MixesGrid_mixesTitle__QawnL {
    position: fixed;
    top: 50px;
}

.MixesGrid_mixesGrid__uZQtt {
    position: fixed;
    top: 130px;
}

.RvWjZle1erRBXzJEF9Zj {
    position: fixed;
    right: -5px;
    top: 0px;
}

.NewRelease_root__W0T4a::before {
    display: flex;
    flex-direction: column;
}

[aria-labelledby=":rckt:"] {
    height: 60px;
}

.Skeleton_headerContainer__pRHVj {
    margin-block-start: -35px;
}

.Content_rootOld__g85_m {
    right: -2px;
}

.CompositeHeader_stickyChild_scrolling__wm9_D {
    width: -webkit-fill-available;
}

.Neuromusic_item__Q_JI_ {
    height: 80px;
}

[id="familiar"] {
    position: fixed;
    width: 26%;
    left: 0px;
    top: 55px;
}

.ArtistPage_releaseBlock__wzo2G {
    display: fixed;
    left: 0px;
}
