root {
	--spotify-black: #000;
	--spotify-main: #121212;
	--spotify: #1ED760;
}

.ym-font-music,
.ym-dark-theme,
.ym-light-theme {
	--ym-background-color-primary-enabled-basic: var(--spotify-black);
	--ym-controls-color-primary-default-enabled: #1ED760;
	--ym-controls-color-primary-outline-selected_stroke: #1ED760;
	--ym-controls-color-primary-default-hovered: #1ED790;
	--ym-controls-color-primary-text-hovered: #1ED790;
}

body {
	user-select: none;
}

/*Spotify Screen*/
/*--------------------------------------------*/
.Spotify_Screen {
	position: fixed;
	height: calc(100% - 148px);
	width: 270px;
	right: 7px;
	bottom: 86px;
	background: #121212;
	z-index: 1;
	border-radius: 10px;
	border-style: solid;
	border-width: 0;
	border-color: #fff1;
	overflow-y: scroll;
}
/*
.SM_Background {
	position: sticky;
	width: 100%;
	height: 100%;
	z-index: 0;
}
*/
.Spotify_Screen::-webkit-scrollbar {
	display: none;
}

.SM_Title_Container {
	position: sticky;
	width: 100%;
	height: 64px;
	top: 0;
	box-shadow: 0 5px 20px #121212;
	background: #121212;
	z-index: 10;
}

.SM_First_Artist {
	position: absolute;
	color: #fff;
	padding: 25px 0 0 20px;
	font-size: 17px;
	font-weight: 500;
	top: -4px;
    max-width: 195px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.SM_Decorate_Buttons {
	position: absolute;
	right: 20px;
	top: 27px;
	content: url("https://github.com/Diramix/Spotify-Music/blob/SM-2/web_assets/Spotify-Screen/SM-Decorate-Buttons.png?raw=true");
}

.SM_Cover {
	position: ;
	width: 240px;
	height: 240px;
	border-radius: 10px;
	margin: 25px auto;
	margin-top: 18px;
	z-index: 20;
}

.SM_Decorate_AddToPlaylist_Button {
	position: absolute;
	right: 12px;
	content: url("https://github.com/Diramix/Spotify-Music/blob/SM-2/web_assets/Spotify-Screen/SM-Decorate-AddToPlaylist-Button.png?raw=true");
	margin-top: 5px;
}

.SM_Track_Name {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: -12px;
    max-width: 210px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.SM_Artist {
    color: #fff7;
    font-size: 15px;
    font-weight: 400;
    margin-left: 15px;
    max-width: 210px;
    margin-top: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Wiki_Container {
	position: absolute;
	top: 403px;
	height: auto;
	background: #1F1F1F;
	width: 250px;
	left: 10px;
	padding: 10px;
	border-radius: 10px;
}

.Info_Title {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	padding: 6px;
}

.Search_Info {
	margin-top: 5px;
	padding: 0px 6px 0px 6px;
}

.Achtung_Alert {
	color: #ff0;
	text-align: center;
	font-style: italic;
	margin-top: 16px;
	font-size: 10px;
	background: #0005;
	padding: 6px;
	border-radius: 5px;
}
/*--------------------------------------------*/

/*Navbar*/
/*--------------------------------------------*/
.NavbarDesktop_root__scYzp {
	position: fixed;
	width: 300px;
	height: calc(100% - 147px);
	margin-top: 45px;
	left: 10px;
	background: #121212;
	border-radius: 10px;
	border-style: solid;
	border-color: #fff1;
	border-width: 0;
	z-index: 300;
}

nav.NavbarDesktop_navigation__dLUGW {
    max-width: none;
}

span.NavbarDesktop_title_collapsed__IH9Bc {
    opacity: 1 !important;
    -webkit-animation: none !important;
    animation: none !important;
}

div.Pin_info_collapsed__bF9ac {
    opacity: 1 !important;
}

.SM_Yandex_DJ {
	position: sticky;
	width: 100%;
	height: 65px;
	border-radius: 7px;
}

.SM_Yandex_DJ:hover {
	background: #fff1;
	cursor: pointer;
}

.DJ_Cover {
	position: absolute;
	margin-left: 10px;
	margin-top: 9px;
	width: 48px;
	height: 48px;
	background-image: url("https://github.com/Diramix/Spotify-Music/blob/SM-2/web_assets/PinsList/SM-Yandex-DJ.png?raw=true");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;
}
/* В разработке
.DJ_Buttons {
	width: 50px;
	height: 50px;
	background: #f00;
	background-image: url("https://github.com/Diramix/Spotify-Music/blob/SM-2/web_assets/PinsList/DJ-Buttons.png?raw=true");
	background-repeat: no-repeat;
}
*/
.DJ_Title {
	position: absolute;
	margin-top: 12px;
	margin-left: 65px;
	height: 20px;
	color: #fff;
}

.DJ_Description {
	position: absolute;
	margin-left: 65px;
	margin-top: 33px;
	font-size: 13px;
	height: 20px;
	width: 55%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

body > div.DefaultLayout_root__7J0wo.DefaultLayout_root_applicationPreserveTitleBar__ygJtq > aside > div > nav > ol > li > a > div.ZrkG6gNYcr4h3hfkhyT1 > span {
	font-size: 14px;
	margin-top: 2px;
}

.NavbarDesktop_navigation__dLUGW {
	margin-left: -87px;
	margin-top: 25px;
}

.PinItem_root__WSoCn {
	height: 65px;
}

.PinItem_cover__9TcjE {
	width: 48px;
	height: 48px;
	bottom: 4px;
}

.Pin_meta__MzX_7 {
	margin-left: 10px;
}

.Pin_title__Jw5WW {
	font-weight: 500;
	font-size: 14px;
}

.Pin_subtitle__rb8Gq {
	margin-top: 3px;
	font-size: 13px;
}

body > div > div > div > aside > div > div > nav > ol > li:nth-child(1),
body > div > div > div > aside > div > div > nav > ol > li:nth-child(2),
body > div > div > div > aside > div > div > nav > ol > li:nth-child(3),
body > div > div > div > aside > div > div > nav > ol > li:nth-child(4) {
	visibility: hidden;
}

body > div.WithTopBanner_root__P__x3 > div > div > aside > div > div.NavbarDesktop_scrollableLinks__H7Hab > nav > ol > li:nth-child(1) > a > div.zpkgiiHgDpbBThy6gavq {
	visibility: visible;
	position: fixed;
	top: 15px;
	left: 30px;
	-webkit-app-region: no-drag;
}

body > div.WithTopBanner_root__P__x3 > div > div > aside > div > div.NavbarDesktop_scrollableLinks__H7Hab > nav > ol > li:nth-child(2) > a > div.zpkgiiHgDpbBThy6gavq {
	visibility: visible;
	position: fixed;
	top: 15px;
	left: 78px;
	-webkit-app-region: no-drag;
}

body > div.WithTopBanner_root__P__x3 > div > div > aside > div > div.NavbarDesktop_scrollableLinks__H7Hab > nav > ol > li:nth-child(3) > a > div.zpkgiiHgDpbBThy6gavq {
	visibility: visible;
	position: fixed;
	top: 15px;
	left: 130px;
	-webkit-app-region: no-drag;
}

.NavbarDesktop_navigation__dLUGW {
	height: 35px;
}

body > div.WithTopBanner_root__P__x3 > div > div > aside > div > div.NavbarDesktop_scrollableLinks__H7Hab > nav > ol > li:nth-child(4) > a > div.zpkgiiHgDpbBThy6gavq {
	visibility: visible;
	position: fixed;
	margin-top: -227px;
	left: 35px;
}

body > div.WithTopBanner_root__P__x3 > div > div > aside > div > div.NavbarDesktop_scrollableLinks__H7Hab > nav > ol > li:nth-child(4) > a > div.ZrkG6gNYcr4h3hfkhyT1 > span {
	visibility: hidden;
}

body > div.WithTopBanner_root__P__x3 > div > div > aside > div > div.NavbarDesktop_scrollableLinks__H7Hab > nav > ol > li:nth-child(4) > a > div.ZrkG6gNYcr4h3hfkhyT1 > span:before {
	visibility: visible;
	content: "Моя медиатека";
	font-weight: 500;
	font-size: 15px;
	position: fixed;
	margin-top: -111px;
	margin-left: 130px;
}
/*--------------------------------------------*/

/*БАЗА*/
/*--------------------------------------------*/
.Content_main__8_wIa {
	position: fixed;
	height: -webkit-fill-available;
	margin-top: 30px;
	margin-bottom: 86px;
	left: 317px;
	right: 11px;
	border-radius: 10px;
	border-width: 0;
}

.MainPage_content__kskSM {
	background-size: 100% 300px;
	background-repeat: no-repeat;
	padding: 0 23px 0 0;
}

[data-test-id="MAIN_PAGE"] {
    overflow: scroll;
    scrollbar-width: none;
}

[data-test-id="MAIN_PAGE"]::-webkit-scrollbar {
    display: none;
}
/*--------------------------------------------*/

/*Плеер*/
/*--------------------------------------------*/
section.PlayerBar_root__cXUnU {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 88px;
	z-index: 9999;
	border-radius: 0;
	background: 0;
	border-width: 0;
}

.PlayerBarDesktop_cover__IYLwR {
	width: 56px;
	height: 56px;
	border-radius: 1px;
}

.PlayerBarDesktop_info__56v53 {
	margin-left: 5px;
}
/*--------------------------------------------*/

/*Релиз нотес*/
/*--------------------------------------------*/
.ReleaseNotesModal_root__RSw1p {
	z-index: 10001;
}

#\:r0\: > header > h3 {
	position: fixed;
    visibility: hidden;
    right: 139px;
    top: 13px;
    z-index: 10;
}

#\:r0\: > header > h3:before {
    width: 100px;
    visibility: visible;
    position: absolute;
    font-family: "Metropolis Semi Bold", sans-serif;
    font-size: 20px;
    font-weight: 600;
    right: 175px;
    content: "Spotify";
    color: #1FDE64;
}

#\:r0\: > header > h3:after {
    width: 100px;
    visibility: visible;
    position: absolute;
    font-family: "Yandex Sans Display Bold", sans-serif;
    font-size: 20px;
    font-weight: 600;
    right: 107px;
    content: "Music! II";
    color: #ffff00;
}
/*--------------------------------------------*/

/*Лайки и история*/
/*--------------------------------------------*/
.LikesAndHistory_root__KCuz_ {
    position: absolute;
    bottom: -100px;
    height: 101px;
    z-index: 2;
    max-width: 100%;
}
/*--------------------------------------------*/

/*NEW RELEASE CARD*/
/*--------------------------------------------*/
[data-test-id="NEW_RELEASE_CARD"] {
	height: 50px;
	border-radius: 5px;
	background: #fff2;
	border-width: 0;
}

[data-test-id="NEW_RELEASE_CARD"]:hover {
	height: 50px;
	border-radius: 5px;
	background: #fff3;
	border-width: 0;
}

.NewReleaseCard_image__7nTy8 {
	height: 45px;
}
/*--------------------------------------------*/

/*Табы*/
/*--------------------------------------------*/
.Skeleton_header__1uiIw {
	margin-top: 20px;
	visibility: visible
	top: 90px;
	margin-top: 50px;
}

.Skeleton_tab__zvQx2 {
	min-height: 35px;
	max-height: 35px;
}

.Skeleton_tab__zvQx2[aria-selected="true"] {
	background: #fff;
}

.Skeleton_tab__zvQx2[aria-selected="true"] * {
	color: #000;
}

.Skeleton_tab__zvQx2[aria-selected="false"] {
	background: #fff1;
}

.Skeleton_tab__zvQx2[aria-selected="false"]:hover {
	background: #fff2;
}

.Tab_title__hAYZk {
	font-weight: 450;
}
/*--------------------------------------------*/

/*SyncLyrics*/
/*--------------------------------------------*/
.swiper-wrapper * {
	color: #fff;
}

[data-test-id="FULLSCREEN_PLAYER_MODAL"] {
	border-width: 0;
}

[data-test-id="FULLSCREEN_PLAYER_MODAL"]:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: brightness(0.7);
    z-index: -1;
}

.FullscreenPlayerDesktopContent_syncLyrics__6dTfH {
	height: 85%;
}

[data-test-id="FULLSCREEN_PLAYER_CLOSE_BUTTON"] {
	background: #0002;
	margin-top: 30px;
	margin-right: 6px;
}
/*--------------------------------------------*/

/*Playlist Page*/
/*--------------------------------------------*/
.SearchPlaylistInput_root__o14iM {
	margin-left: 70%;
	margin-right: 20px;
	border-radius: 5px;
	background: #fff1;
    position: absolute;
    right: 0;
    top: 220px;
    margin-bottom: 0;
}
/*--------------------------------------------*/

/*AlbumCard*/
/*--------------------------------------------*/
.AlbumCard_controls__yuO40,
.PlaylistCard_controls__Ej8Rz,
.TrackCard_controls__E7Y3L,
.ArtistCard_controls__jsqqI {
	visibility: hidden;
}

.AlbumCard_playButton__mYK9R[data-test-id="PLAY_BUTTON"],
.PlaylistCard_control__73YUq[data-test-id="PLAY_BUTTON"],
.TrackCard_control___huPc[data-test-id="PLAY_BUTTON"],
.ArtistCard_control___qv5j[data-test-id="PLAY_BUTTON"] {
	position: absolute;
	right: 0;
	bottom: 0;
	background: #000;
	color: #1ED760;
	visibility: visible;
}
/*--------------------------------------------*/

/*Обводка слайдеров в Яндекс Музыке*/
/*--------------------------------------------*/
.ChangeVolume_root__HDxtA {
	--slider-thumb-box-shadow-color: #0000;
}

.ChangeTimecode_slider__P4qmT {
	--slider-thumb-box-shadow-color: #0000;
}
/*--------------------------------------------*/

/*Кнопка BETA*/
/*--------------------------------------------*/
.MainPage_beta__y32vb {
	display: none;
    background: 0;
}
/*--------------------------------------------*/

/*Настройки качества звука*/
/*--------------------------------------------*/
[data-test-id="QUALITY_SETTINGS_CONTEXT_MENU"] {
	position: absolute;
	z-index: 260;
	right: 0;
	bottom: 0;
	background: #000;
	border-radius: 5px 0px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

.EqualizerPresets_container__ABVY8 {
	background: #000;
}
/*--------------------------------------------*/

/*Тайтлбар*/
/*--------------------------------------------*/
.TitleBar_root__QjdOZ {
	position: fixed;
	user-select: unset;
	height: 60px;
	pointer-events: none;
	--title-bar-button-width: 100%;
}

.TitleBar_button__9MptL {
	width: 50px;
	height: 60px;
	pointer-events: auto;
}
/*--------------------------------------------*/

/*Поиск*/
/*--------------------------------------------*/
.SearchPage_header__BOkdn {
	visibility: hidden;
}

.SearchPage_header__BOkdn * {
	visibility: visible;
}

.SearchPage_content__ycqK5 {
	margin-top: -70px;
}

.SearchPage_input__TSbxK {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 9px;
	height: 45px;
	width: 40%;
	max-width: 500px;
	-webkit-app-region: no-drag;
	border-width: 0;
}

body > div > div > div > div > main > div > div > div > svg {
	scale: 1.5;
}
/*--------------------------------------------*/

/*Vibe - Вайб*/
/*--------------------------------------------*/
.VibeSettings_root__ufZlV {
	position: fixed;
	right: 266px;
	bottom: -30px;
	box-shadow: 0 0;
}

[data-test-id="VIBE_BLOCK"] {
	display: none;
}

/*
@keyframes loading {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: -100%;
    }
}

.VibeBlock_root__z7LtR {
    min-height: 320px;
    max-height: 320px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0));
    background-size: 200% 100%;
    animation: loading 2s ease-in-out infinite;
    border-radius: 10px;
    will-change: transform;
    margin: 20px 0px 20px 20px;
}

.rf_Spotify_Sponsor {
	position: absolute;
	right: 20px;
	top: 20px;
	background: #0006;
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	color: #fff;
	font-weight: 500;
}
*/
/*--------------------------------------------*/

/*Юзер*/
/*--------------------------------------------*/
[aria-label="Ваш профиль"] {
	position: fixed;
	right: 160px;
	top: 13px;
	-webkit-app-region: no-drag;
}

.UserProfile_dialog_desktop__0p006 {
	position: fixed;
	right: 100px;
	left: calc(100% - 420px);
	top: 70px;
	bottom: calc(100% - 610px);
}
/*--------------------------------------------*/

/*Неурокнопки*/
/*--------------------------------------------*/
.VibeButton_button__tXFAm,
.NeuromusicButton_button__kT4GN {
	border-radius: 5px;
	background: #fff1;
	border-width: 0;
}

.VibeButton_button__tXFAm:hover,
.NeuromusicButton_button__kT4GN:hover {
	border-radius: 5px;
	background: #fff2;
	border-width: 0;
}
/*--------------------------------------------*/

/*Концерты*/
/*--------------------------------------------*/
.ConcertCard_date__ECoa3 {
	width: 64px;
	height: 64px;
}
/*--------------------------------------------*/

/*Контекстное меню*/
/*--------------------------------------------*/
.ggP7WX2_erziDHFOo32s {
	background: #000;
}
/*--------------------------------------------*/

/*Сплэш скрин и лого*/
/*--------------------------------------------*/
.MainSuspenseLoader_icon__MceTD,
.SplashScreen_video__wFSy5 {
	filter: hue-rotate(65deg);
}
/*--------------------------------------------*/

/*ONLY display: none;*/
/*--------------------------------------------*/
[data-test-id="VIBE_ANIMATION"],
.UserProfile_userName__PTRuJ,
.VibeButton_image__GOwKJ,
.mdbxU6IWInQTsVjwnapn,
.UserID-Avatar:after,
.NewRelease_cover__EVFNR,
.NavbarDesktop_logoWrapper__89ce6,
.NewReleaseCard_type__1LjSl,
.l66GiFKS1Ux_BNd603Cu,
.Tab_image__Hen3_,
.Tab_subtitle__fLp9S,
body > div > p,
.NewReleaseCard_trailerButton__wyoRL,
[aria-label="Контент не подходит для детей"],
[data-intersection-property-id="concerts_personal"],
[data-intersection-property-id="ConcertsTop"],
body > div.DefaultLayout_root__7J0wo.DefaultLayout_root_applicationPreserveTitleBar__ygJtq > aside > div > nav > ol > li:nth-child(1) > a > div.ZrkG6gNYcr4h3hfkhyT1.xENlRAFvRskKnt8LUObC > span,
body > div.DefaultLayout_root__7J0wo.DefaultLayout_root_applicationPreserveTitleBar__ygJtq > aside > div > nav > ol > li:nth-child(1) > a > div.ZrkG6gNYcr4h3hfkhyT1 > span,
body > div.DefaultLayout_root__7J0wo.DefaultLayout_root_applicationPreserveTitleBar__ygJtq > aside > div > nav > ol > li:nth-child(2) > a > div.ZrkG6gNYcr4h3hfkhyT1.xENlRAFvRskKnt8LUObC > span,
body > div.DefaultLayout_root__7J0wo.DefaultLayout_root_applicationPreserveTitleBar__ygJtq > aside > div > nav > ol > li:nth-child(2) > a > div.ZrkG6gNYcr4h3hfkhyT1 > span,
body > div.DefaultLayout_root__7J0wo.DefaultLayout_root_applicationPreserveTitleBar__ygJtq > aside > div > nav > ol > li:nth-child(3) > a > div.ZrkG6gNYcr4h3hfkhyT1.xENlRAFvRskKnt8LUObC > span,
body > div.DefaultLayout_root__7J0wo.DefaultLayout_root_applicationPreserveTitleBar__ygJtq > aside > div > nav > ol > li:nth-child(3) > a > div.ZrkG6gNYcr4h3hfkhyT1 > span,
.FullscreenPlayerDesktopContent_syncLyricsContent__H_enX:after,
.FullscreenPlayerDesktopContent_syncLyricsContent__H_enX:before,
.FullscreenPlayerDesktopContent_sliderContainer__FtBZ7,
.FullscreenPlayerDesktopControls_root__tviu4,
.Donations_root__xo2BC,
.ConcertDate_weekday__fBZXo,
.ConcertCard_button__GQxNL {
	display: none;
}
/*--------------------------------------------*/